<div class="grid grid-cols-2 gap-1">
  <div class="flex justify-start">
    <div>
      <h1 class="text-gray-500">NEX LEARNING</h1>
      <h1 class="text-4xl font-semibold text-gray-700">Article</h1>
      <div class="flex justify-start mt-3">
        <h1 class="text-gray-400 text-base">Article Edit</h1>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="mform" (submit)="updateArticle()">
  <div class="p-10 mt-10 mb-10 bg-white rounded-lg">
    <div class="flex flex-rows justify-end">
      <a routerLink="/admin/article" type="button"
        class="px-3 py-1 text-base bg-gray-500 text-white rounded hover:bg-gray-700 mr-2"><fa-icon
          [icon]="faXmark"></fa-icon> Cancel</a>
      <button type="submit" class="px-3 py-1 text-base bg-blue-500 text-white rounded hover:bg-blue-700"><fa-icon
          [icon]="faCheckCircle"></fa-icon> Save</button>
    </div>
    <div class="block w-full">
      <!-- Title Input -->
      <div class="mb-4 flex flex-col">
        <label for="title" class="font-base text-gray-500 mb-1">Title <span class="text-red-500">*</span></label>
        <div class="border border-2 rounded" [ngClass]="{
        'border-danger-500': mform.get('title')?.touched && mform.get('title')?.invalid,
        'border-green-500': mform.get('title')?.touched && mform.get('title')?.valid
        }">
          <input type="text" formControlName="title" class="w-full px-2 py-1 rounded border-gray-300"
            [ngClass]="{'border-0': mform.get('title')?.statusChanges}" id="exampleInput90" />
        </div>
        <p class="text-xs text-rose-500 italic mt-1" *ngIf="mform.get('title')?.touched && mform.get('title')?.invalid">
          * Title is required.
        </p>
      </div>
      <!-- Title Input -->

      <!-- Category Input -->
      <div class="mb-4">
        <label for="title" class="font-base text-gray-500 mb-2">Category <span class="text-red-500">*</span></label>
        <div class="border border-2 rounded" [ngClass]="{
        'border-danger-500': mform.get('category')?.touched && mform.get('category')?.invalid,
        'border-green-500': mform.get('category')?.touched && mform.get('category')?.valid
        }">
          <select formControlName="category" data-te-select-init data-te-select-auto-select="true"
            data-te-select-filter="true"
            class="m-0 w-full block min-w-0 flex-auto rounded-lg px-3 py-2 border border-gray-200"
            [ngClass]="{'border-0': mform.get('category')?.statusChanges}">
            <option hidden disabled selected></option>
            <option *ngFor="let data of categoryArticle" [value]="data.id">{{ data.title }}</option>
          </select>
        </div>
        <p *ngIf="mform.get('category')?.touched && mform.get('category')?.invalid"
          class="text-red-500 text-xs italic mt-1">
          * Category is required.
        </p>
      </div>
      <!-- Category Input -->

      <!-- Image Input -->
      <div class="mb-4">
        <label for="title" class="font-base text-gray-500 mb-2">Cover Article <span
            class="text-red-500">*</span></label>
        <img *ngIf="imageShow"
          [src]="imageValidator == null ? imageShow : imageValidator == false ? 'https://puprpkpp.riau.go.id/asset/img/default-image.png' : imageShow"
          alt="Selected Image" class="w-full">
        <input type="file" formControlName="image" name="image" (change)="onFileSelected($event)"
          [ngClass]="{ 'border-rose-500': (mform.get('image')?.touched && mform.get('image')?.invalid || mform.get('image')?.touched && mform.get('image')?.invalid) || imageValidator == false }"
          class="m-0 w-full block min-w-0 flex-auto rounded px-2 py-1 text-regal-blue border border-2 border-gray-200">
        <p *ngIf="mform.get('image')?.touched && mform.get('image')?.invalid" class="text-red-500 text-xs italic mt-1">
          * Cover image is required.
        </p>
        <p *ngIf="imageValidator == false" class="text-red-500 text-xs italic mt-1">
          * {{ imageValidatorMessage }}.
        </p>
      </div>
      <!-- Image Input -->

      <!-- Description Input -->
      <div class="mb-4">
        <label for="title" class="font-base text-gray-500 mb-2">Content <span class="text-red-500">*</span></label>
        <div class="mt-1"
          [ngClass]="{ 'border border-rose-500': mform.get('content')?.touched && mform.get('content')?.invalid }">
          <textarea name="content" formControlName="content" [ngxSummernote]="config"></textarea>
        </div>
        <div class="text-red-500" *ngIf="mform.get('content')?.touched && mform.get('content')?.invalid">
          <p class="text-sm italic mt-1">
            * Description is required.
          </p>
        </div>
      </div>
      <!-- Description Input -->

      <!-- Date Created Input -->
      <div class="mb-4 flex flex-col">
        <label for="title" class="font-base text-gray-500 mb-1">Date Created <span class="text-red-500">*</span></label>
        <div class="border border-2 rounded" [ngClass]="{
                    'border-danger-500': mform.get('dateCreated')?.touched && mform.get('dateCreated')?.invalid,
                    'border-green-500': mform.get('dateCreated')?.touched && mform.get('dateCreated')?.valid
                    }">
          <input type="date" formControlName="dateCreated"
            class="w-full px-2 py-1 rounded border-gray-300 disabled:bg-gray-100"
            [ngClass]="{'border-0': mform.get('dateCreated')?.statusChanges}" id="exampleInput90" />
        </div>
        <p class="text-xs text-rose-500 italic mt-1"
          *ngIf="mform.get('dateCreated')?.touched && mform.get('title')?.invalid">
          * Date Created is required.
        </p>
      </div>
      <!-- Date Created Input -->

      <div class="grid grid-cols-2 gap-4">
        <!-- Date Created By Input -->
        <div class="mb-3">
          <label for="title" class="font-base text-gray-500 mb-1">Created By : <span
              class="text-red-500">*</span></label>
          <div
            [ngClass]="{'border border-rose-500 rounded': mform.get('createdBy')?.touched && mform.get('createdBy')?.invalid }">
            <input type="text" formControlName="createdBy"
              class="w-full px-2 py-1 rounded border border-gray-300  disabled:bg-gray-100" id="exampleInput90" />
          </div>
          <p *ngIf="mform.get('createdBy')?.touched && mform.get('createdBy')?.invalid"
            class="text-red-500 text-xs italic mt-1">
            * Created by is required.
          </p>
        </div>
        <!-- Date Created By Input -->

        <!-- Unit Input -->
        <div class="mb-3">
          <label for="title" class="font-base text-gray-500 mb-1">Unit : <span class="text-red-500">*</span></label>
          <div
            [ngClass]="{'border border-rose-500 rounded': mform.get('unit')?.touched && mform.get('unit')?.invalid }">
            <input type="text" formControlName="unit"
              class="w-full px-2 py-1 rounded border border-gray-300  disabled:bg-gray-100" id="exampleInput90" />
          </div>
          <p *ngIf="mform.get('unit')?.touched && mform.get('unit')?.invalid" class="text-red-500 text-xs italic mt-1">
            * Unit is required.
          </p>
        </div>
        <!-- Unit Input -->

        <!-- Editor Choice Input -->
        <div class="mb-4">
          <label for="title" class="font-base text-gray-500 mb-2">Editor Choice <span
              class="text-red-500">*</span></label>
          <select formControlName="editorChoice" data-te-select-init data-te-select-auto-select="true"
            [ngClass]="{'border-rose-500 rounded': mform.get('editorChoice')?.touched && mform.get('editorChoice')?.invalid }"
            class="m-0 w-full block min-w-0 flex-auto rounded-lg px-3 py-2 border-solid border-2 border-gray-200">
            <option *ngFor="let rows of statusEditorChoice" [value]="rows.status">{{ rows.name }}</option>
          </select>
          <p *ngIf="mform.get('editorChoice')?.touched && mform.get('editorChoice')?.invalid"
            class="text-red-500 text-xs italic mt-1">
            * Editor Choice is required.
          </p>
        </div>
        <!-- Editor Choice Input -->

        <!-- Favorite Input -->
        <div class="mb-3">
          <label for="title" class="font-base text-gray-500 mb-1">Favorite : <span class="text-red-500">*</span></label>
          <div class="mt-1"
            [ngClass]="{'border border-rose-500 rounded': mform.get('favorite')?.touched && mform.get('favorite')?.invalid }">
            <select formControlName="favorite" data-te-select-init data-te-select-auto-select="true"
              class="m-0 w-full block mt-1 min-w-0 flex-auto rounded-lg px-3 py-2 border-solid border-2 border-gray-200">
              <option *ngFor="let rows of favoriteList" [value]="rows.status">{{ rows.name }}</option>
            </select>
          </div>
          <p *ngIf="mform.get('favorite')?.touched && mform.get('favorite')?.invalid"
            class="text-red-500 text-xs italic mt-1">
            * Favorite is required.
          </p>
        </div>
        <!-- Favorite Input -->

        <!-- Status Input -->
        <div class="mb-4">
          <label for="title" class="font-base text-gray-500 mb-2">Status <span class="text-red-500">*</span></label>
          <select formControlName="statusApprove" data-te-select-init data-te-select-auto-select="true"
            [ngClass]="{'border-rose-500 rounded': mform.get('statusApprove')?.touched && mform.get('statusApprove')?.invalid }"
            class="m-0 w-full block mt-1 min-w-0 flex-auto rounded-lg px-3 py-2 border-solid border-2 border-gray-200">
            <option *ngFor="let rows of statusApproveList" [value]="rows.status">{{ rows.name }}</option>
          </select>
          <p *ngIf="mform.get('statusApprove')?.touched && mform.get('statusApprove')?.invalid"
            class="text-red-500 text-xs italic mt-1">
            * Status is required.
          </p>
        </div>
        <!-- Status Input -->

        <!-- Approval By Input -->
        <div class="mb-4">
          <label for="title" class="font-base text-gray-500 mb-3">Approval or Rejection By : <span
              class="text-red-500">*</span></label>
          <div class="mt-2"
            [ngClass]="{'border border-rose-500 rounded': mform.get('approvalBy')?.touched && mform.get('approvalBy')?.invalid }">
            <input type="text" formControlName="approvalBy"
              class="w-full px-2 py-1 rounded border border-gray-300  disabled:bg-gray-100" id="exampleInput90" />
          </div>
          <p *ngIf="mform.get('approvalBy')?.touched && mform.get('approvalBy')?.invalid"
            class="text-red-500 text-xs italic mt-1">
            * Approval by is required.
          </p>
        </div>
        <!-- Approval By Input -->

      </div>

      <!-- Description Status -->
      <div class="mt-5">
        <label for="title" class="font-base text-gray-500 mb-3">Description Status <span
            class="text-red-500">*</span></label>
        <textarea name="description" rows="5" formControlName="description"
          class="w-full border border-2 border-gray-200 rounded h-auto p-2 mt-1 disabled:bg-gray-100"
          [ngClass]="{ 'border-rose-500': mform.get('description')?.touched && mform.get('description')?.invalid }"></textarea>
        <div class="text-red-500" *ngIf="mform.get('description')?.touched && mform.get('description')?.invalid">
          <p class="text-sm italic">
            * Description status is required.
          </p>
        </div>
      </div>
      <!-- Description Status -->
    </div>
  </div>
</form>
