<div *ngIf="load">
  <app-loading></app-loading>
</div>
<div *ngIf="!load">
  <div class="grid grid-cols-2 gap-1">
    <div class="flex justify-start">
      <div>
        <h1 class="text-gray-500">NEX COMMUNITY</h1>
        <h1 class="text-4xl font-semibold text-gray-700">{{ title.title }}</h1>
        <div class="flex justify-start mt-2">
          <h1 class="text-gray-400">Community</h1>
          <fa-icon class="text-gray-400 mx-2" [icon]="faChevronRight"></fa-icon>
          <h1 class="text-black">Create Community</h1>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="mform" (submit)="createCommunity()">
    <div class="bg-white shadow px-5 mt-10 py-5 rounded">
      <div class="flex flex-rows justify-end mb-5">
        <a routerLink="../community"
          class="border border-danger text-danger hover:bg-danger hover:text-white rounded px-3 mr-2 py-1"><fa-icon
            [icon]="faCircleArrowLeft"></fa-icon> Back</a>
        <button type="submit"
          class="border border-success text-success hover:bg-success hover:text-white rounded px-3 py-1"><fa-icon
            [icon]="faCircleCheck"></fa-icon> Save</button>
      </div>
      <div class="flex flex-cols">
        <div class="grid grid-rows-2 gap-2">
          <div class="w-fit mr-5">
            <img *ngIf="imageValidator == null || imageValidator == false" class="object-cover rounded-lg w-56 h-96"
              src="../../../../../../assets/image/community/thumbnail/thumbnail-300x500.jpeg" alt="default">
            <img *ngIf="imageValidator === true" [src]="imageShow" class="object-cover rounded-lg w-64 h-96" alt="default-true">
            <div class="mt-3 mb-2">
              <label for="title" class="font-base text-gray-500">Profile Image <span
                  class="text-red-500">*</span></label>
            </div>
            <input class="px-2 py-1 rounded w-full" (change)="onFileSelected($event)" type="file">
            <p *ngIf="imageValidator == false" class="text-red-500 text-xs italic mt-1">
              * {{ imageValidatorMessage }}.
            </p>
          </div>


          <div class="w-fit mr-5">
            <img *ngIf="imageValidatorLogo == null || imageValidatorLogo == false"
              class="object-cover rounded-full w-56 h-56"
              src="../../../../../../assets/image/community/logo/community-logo.png" alt="default">
            <img *ngIf="imageValidatorLogo === true" [src]="imageShowLogo" class="object-cover rounded-full w-56 h-56"
              alt="default-true">
            <div class="mt-3 mb-2">
              <label for="title" class="font-base text-gray-500">Logo Image <span class="text-red-500">*</span></label>
            </div>
            <input class="px-2 py-1 rounded w-full" (change)="onFileSelectedLogo($event)" type="file">
            <p *ngIf="imageValidatorLogo == false" class="text-red-500 text-xs italic mt-1">
              * {{ imageValidatorMessageLogo }}.
            </p>
          </div>
        </div>
        <div class="w-full">
          <div class="mb-4">
            <img *ngIf="imageValidatorCover == null || imageValidatorCover == false" class="w-[100%] h-full rounded-lg"
              src="../../../../../../assets/image/community/headline/headline-700X200.jpeg" alt="cover-default">
            <img *ngIf="imageValidatorCover === true" [src]="imageShowCover" class="rounded-lg" alt="default-true">
            <div class="mt-3 mb-2">
              <label for="title" class="font-base text-gray-500">Cover Image Community <span
                  class="text-red-500">*</span></label>
            </div>
            <input class="px-2 py-1 rounded w-full" (change)="onFileSelectedCover($event)" type="file">
            <p *ngIf="imageValidatorCover == false" class="text-red-500 text-xs italic mt-1">
              * {{ imageValidatorMessageCover }}.
            </p>
          </div>

          <!-- Line -->
          <div class="grid grid-cols-2 gap-4">
            <!-- name -->
            <div class="mb-4 flex flex-col">
              <label for="name" class="font-base text-gray-500 mb-1">Community Name <span
                  class="text-red-500">*</span></label>
              <input type="text" formControlName="name"
                [ngClass]="{'border-rose-500': mform.get('name')?.touched && mform.get('name')?.invalid }"
                class="w-full px-2 py-1 rounded border border-gray-300" id="exampleInput90" />
              <p class="text-xs text-rose-500 italic mt-1"
                *ngIf="mform.get('name')?.touched && mform.get('name')?.invalid">
                * Name is required.
              </p>
            </div>
            <!-- name -->

            <!-- leader -->
            <div class="mb-4">
              <label for="title" class="font-base text-gray-500 mb-2">Leader <span class="text-red-500">*</span></label>
              <div class="mt-[3px]">
                <div
                  [ngClass]="{'border border-rose-500 rounded': mform.get('leaderPersonalNumber')?.touched && mform.get('leaderPersonalNumber')?.invalid }">
                  <ng-select formControlName="leaderPersonalNumber" [items]="dataUser" [virtualScroll]="true"
                    (search)="searchData($event)" bindLabel="personalName" bindValue="personalNumber">
                  </ng-select>
                </div>
              </div>
              <p *ngIf="mform.get('leaderPersonalNumber')?.touched && mform.get('leaderPersonalNumber')?.invalid"
                class="text-red-500 text-xs italic mt-1">
                * Leader is required.
              </p>
            </div>
            <!-- leader -->

            <!-- founded -->
            <div class="mb-4 flex flex-col">
              <label for="founded" class="font-base text-gray-500 mb-1">Founded <span
                  class="text-red-500">*</span></label>
              <input type="date" formControlName="founded"
                [ngClass]="{'border-rose-500': mform.get('founded')?.touched && mform.get('founded')?.invalid }"
                class="w-full px-2 py-1 rounded border border-gray-300"/>
              <p class="text-xs text-rose-500 italic mt-1"
                *ngIf="mform.get('founded')?.touched && mform.get('founded')?.invalid">
                * Founded is required.
              </p>
            </div>
            <!-- founded -->

            <!-- location -->
            <div class="mb-4 flex flex-col">
              <label for="location" class="font-base text-gray-500 mb-1">Location <span
                  class="text-red-500">*</span></label>
              <input type="text" formControlName="location"
                [ngClass]="{'border-rose-500': mform.get('location')?.touched && mform.get('location')?.invalid }"
                class="w-full px-2 py-1 rounded border border-gray-300" id="exampleInput90" />
              <p class="text-xs text-rose-500 italic mt-1"
                *ngIf="mform.get('location')?.touched && mform.get('location')?.invalid">
                * Location is required.
              </p>
            </div>
          </div>
          <!-- location -->

          <!-- about -->
          <div class="mb-4 flex flex-col">
            <label for="about" class="font-base text-gray-500 mb-1">About <span class="text-red-500">*</span></label>
            <textarea formControlName="about" rows="5"
              [ngClass]="{'border-rose-500': mform.get('about')?.touched && mform.get('about')?.invalid }"
              class="w-full border border-2 boder-gray-600 rounded p-3"></textarea>
            <p class="text-xs text-rose-500 italic mt-1"
              *ngIf="mform.get('about')?.touched && mform.get('about')?.invalid">
              * About is required.
            </p>
          </div>
          <!-- about -->

          <!-- leader profile -->
          <div class="mb-4 flex flex-col">
            <label for="leaderProfile" class="font-base text-gray-500 mb-1">Leader Profile <span
                class="text-red-500">*</span></label>
            <textarea formControlName="leaderProfile"
              [ngClass]="{'border-rose-500': mform.get('leaderProfile')?.touched && mform.get('leaderProfile')?.invalid }"
              rows="5" class="w-full border border-2 boder-gray-600 rounded p-3"></textarea>
            <p class="text-xs text-rose-500 italic mt-1"
              *ngIf="mform.get('leaderProfile')?.touched && mform.get('leaderProfile')?.invalid">
              * Leader profile is required.
            </p>
          </div>
          <!-- leader profile -->

          <!-- instagram -->
          <div class="mb-4 flex flex-col">
            <label for="instagram" class="font-base text-gray-500 mb-1">Instagram <span
                class="text-red-500">*</span></label>
            <input type="text" formControlName="instagram"
              [ngClass]="{'border-rose-500': mform.get('instagram')?.touched && mform.get('instagram')?.invalid }"
              class="w-full px-2 py-1 rounded border border-gray-300" id="exampleInput90" />
            <p class="text-xs text-rose-500 italic mt-1"
              *ngIf="mform.get('instagram')?.touched && mform.get('instagram')?.invalid">
              * Instagram is required.
            </p>
          </div>
          <!-- instagram -->

          <!-- <div class="grid grid-cols-2 gap-4">

            <div class="mb-4 flex flex-col">
              <label for="status" class="font-base text-gray-500 mb-1">Status <span
                  class="text-red-500">*</span></label>
              <div
                [ngClass]="{'border border-rose-500 rounded': mform.get('status')?.touched && mform.get('status')?.invalid }">
                <input type="text" formControlName="status" class="w-full px-2 py-1 rounded border border-gray-300"
                  id="exampleInput90" />
              </div>
              <p class="text-xs text-rose-500 italic mt-1"
                *ngIf="mform.get('status')?.touched && mform.get('status')?.invalid">
                * Title is required.
              </p>
            </div>



            <div class="mb-4 flex flex-col">
              <label for="approveBy" class="font-base text-gray-500 mb-1">Approve/Reject By <span
                  class="text-red-500">*</span></label>
              <div
                [ngClass]="{'border border-rose-500 rounded': mform.get('approveBy')?.touched && mform.get('approveBy')?.invalid }">
                <input type="text" formControlName="approveBy" class="w-full px-2 py-1 rounded border border-gray-300"
                  id="exampleInput90" />
              </div>
              <p class="text-xs text-rose-500 italic mt-1"
                *ngIf="mform.get('approveBy')?.touched && mform.get('approveBy')?.invalid">
                * Title is required.
              </p>
            </div>

          </div> -->
        </div>

      </div>
    </div>
  </form>
</div>
