<div
  class="grid max-[600px]:grid-rows-2 min-[600px]:grid-cols-2 gap-4flex flex-cols py-5"
>
  <div class="flex justify-start min-[600px]:px-10 max-[600px]:px-5">
    <h1 class="mt-5 text-2xl font-semibold">My Collection</h1>
  </div>
  <div class="flex justify-end min-[600px]:px-10 max-[600px]:px-5">
    <div
      class="relative flex flex-wrap items-stretch w-full mt-4 mb-4 mr-3 bg-gray-100 rounded-full"
    >
      <button
        class="relative z-[2] rounded-l px-4 py-2 text-xs font-medium uppercase leading-tight text-primary transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5"
        type="button"
        id="button-addon1"
      >
        <fa-icon [icon]="faSearch" class="text-black"></fa-icon>
      </button>
      <input
        type="text"
        class="h-11 relative m-0 block w-[1px] min-w-0 flex-auto rounded-r bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition ease-in-out"
        placeholder="Search Category"
        aria-label="Example text with button addon"
        aria-describedby="button-addon1"
        (keyup)="searchByField($event)"
      />
    </div>
    <div class="px-4 py-3 mt-3 bg-gray-100 rounded-full w-36 h-fit">
      <select
        class="w-full bg-transparent rounded-full"
        (change)="onChangeSortStatus($event)"
      >
        <option hidden [selected]="sortStatus == 0">Sort By</option>
        <option disabled selected *ngIf="sortStatus == 0">Sort By</option>
        <option *ngIf="sortStatus != 0" value="0">Reset</option>
        <option value="1">Trendings</option>
        <option value="2">Latest</option>
        <option value="3">Oldest</option>
      </select>
    </div>
  </div>
</div>
<ng-container *ngIf="isLoading">
  <div class="flex items-center justify-center min-h-screen font-semibold">
    <app-loading></app-loading>
  </div>
</ng-container>
<ng-container *ngIf="!isLoading">
  <ng-container *ngIf="eBookData.length > 0; else emptyEBookData">
    <div
      class="grid min-[600px]:grid-cols-4 max-[600px]:grid-cols-2 gap-2 justify-center px-8"
    >
      <div *ngFor="let row of eBookData" class="h-full px-1 py-4">
        <div
          class="h-full rounded-lg shadow-lg"
          style="overflow-wrap: anywhere"
          (click)="onGoToDetailBook(row.collectionEbook.uuid)"
        >
          <img
            [src]="row.collectionEbook.pathCover"
            [alt]="row.collectionEbook.title"
            class="px-3 mt-3 rounded-lg w-70 h-96"
          />
          <div class="p-5">
            <h1 class="font-semibold min-[600px]:text-lg min-[600px]:hidden">
              {{
                row.collectionEbook.title.length > 10
                  ? row.collectionEbook.title.substr(0, 10) + ".."
                  : row.collectionEbook.title
              }}
            </h1>
            <h1 class="font-semibold max-[600px]:hidden text-2xl">
              {{
                row.collectionEbook.title.length > 15
                  ? row.collectionEbook.title.substr(0, 15) + ".."
                  : row.collectionEbook.title
              }}
            </h1>

            <h1 class="text-xs min-[600px]:hidden">
              {{
                row.collectionEbook.author.length > 20
                  ? row.collectionEbook.author.substr(0, 20) + ".."
                  : row.collectionEbook.author
              }}
            </h1>
            <h1 class="text-lg max-[600px]:hidden">
              {{
                row.collectionEbook.author.length > 20
                  ? row.collectionEbook.author.substr(0, 20) + ".."
                  : row.collectionEbook.author
              }}
            </h1>
          </div>
        </div>
      </div>
    </div>

    <!-- Table Pagination -->
    <div
      class="flex items-center justify-start mt-5 ml-10"
      *ngIf="paginator && !isLoading"
    >
      <h1 class="mr-5">Total : {{ paginator.totalData }}</h1>
      <div class="flex items-center justify-start mx-10">
        <span class="text-sm">Show</span>
        <select
          *ngIf="paginator"
          [(ngModel)]="paginator.pageSize"
          (ngModelChange)="changePageSize()"
          class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-300 focus:border-blue-300 block py-1.5 pl-2 pr-7 mx-2 hover:cursor-pointer"
        >
          <option *ngFor="let size of paginator?.pageOption" [ngValue]="size">
            {{ size }} data
          </option>
        </select>
      </div>
      <div class="flex items-center justify-center mx-3">
        <button
          type="button"
          (click)="changePageNumber(false)"
          [disabled]="paginator.pageNumber == 1"
          [class]="paginator.pageNumber == 1 ? 'bg-gray-200' : 'bg-gray-50'"
          class="inline-flex items-center px-3 py-1.5 text-sm font-medium text-gray-700 border border-gray-300 rounded-lg active:bg-gray-200 active:border-blue-300"
        >
          Previous
        </button>
        <!-- <button
           class="ml-2 text-gray-400"
           (click)="goToPageNumberByPageClick(i + 1)"
           *ngFor="let page of pages; let i = index"
         >
           {{ i + 1 }}
         </button> -->
        <button
          type="button"
          (click)="changePageNumber(true)"
          [disabled]="paginator.pageNumber == paginator.totalPage"
          [class]="
            paginator.pageNumber == paginator.totalPage
              ? 'bg-gray-200'
              : 'bg-gray-50'
          "
          class="inline-flex items-center px-3 py-1.5 text-sm font-medium text-gray-700 border border-gray-300 rounded-lg active:bg-gray-200 active:border-blue-300 ml-2"
        >
          Next
        </button>
      </div>
      <h1 class="w-fit">Go to Page</h1>
      <select
        *ngIf="paginator"
        [(ngModel)]="paginator.pageNumber"
        (ngModelChange)="goToPageNumberByPageSelect($event)"
        class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-300 focus:border-blue-300 block py-1.5 pl-2 pr-7 mx-2 hover:cursor-pointer"
      >
        <option *ngFor="let page of pages; let i = index" [ngValue]="i + 1">
          {{ i + 1 }}
        </option>
      </select>
    </div>
    <!-- Table Pagination -->
  </ng-container>
  <ng-template #emptyEBookData>
    <div class="flex items-center justify-center h-screen font-semibold">
      <h2>No Books available.</h2>
    </div>
  </ng-template>
</ng-container>
