<!-- Body -->
<ng-container *ngIf="isLoading">
  <div class="flex items-center justify-center h-56">
    <app-loading></app-loading>
  </div>
</ng-container>
<ng-container *ngIf="!isLoading">
  <ng-container
    *ngIf="podcastSerieListData.length > 0; else emptyPodcastListData"
  >
    <div class="grid lg:gap-8 lg:grid-cols-4 xs:grid-cols-2 xs:gap-4">
      <!-- Loop here -->
      <ng-container *ngFor="let serie of podcastSerieListData; let i = index">
        <div class="block max-w-sm text-center rounded-lg cursor-pointer">
          <div class="relative">
            <img
              class="w-full shadow-lg h-52 rounded-xl"
              [src]="serie.path"
              alt=""
              (click)="
                serie.personalNumber === userPersonalNumber
                  ? onGoToMyPodcastDetail(serie.uuid)
                  : onGotoPodcastDetail(serie.uuid)
              "
            />
            <button
              type="button"
              (click)="onSelectPodcastListToPlay(serie, i)"
              class="absolute w-12 h-12 rounded-full bottom-2 right-2 hover:shadow-xl hover:w-14 hover:h-14 bg-primary text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-primary-600 focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-8 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
            >
              <ng-container *ngIf="!serie.isPause">
                <fa-icon [icon]="faPlay" class="text-base text-white"></fa-icon>
              </ng-container>
              <ng-container *ngIf="serie.isPause">
                <fa-icon
                  [icon]="faPause"
                  class="text-base text-white"
                ></fa-icon>
              </ng-container>
            </button>
          </div>
          <div
            class="hover:shadow-xl hover:rounded-xl"
            (click)="onGoCreatorDetail(serie.creator.uuid)"
          >
            <h5
              class="mt-4 mb-2 text-xl font-semibold leading-tight text-neutral-800"
            >
              {{
                serie.title.length > 15
                  ? serie.title.substr(0, 15) + ".."
                  : serie.title
              }}
            </h5>
            <p class="pb-2 text-base text-neutral-600">
              {{
                serie.creator.name.length > 20
                  ? serie.creator.name.substr(0, 20) + ".."
                  : serie.creator.name
              }}
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #emptyPodcastListData>
    <div class="flex items-center justify-center h-40">
      <h2>No podcast series available.</h2>
    </div>
  </ng-template>
</ng-container>
