<div *ngIf="load">
  <app-loading></app-loading>
</div>
<div *ngIf="!load">
  <!-- Search & Trend Section -->
  <div class="bg-library bg-center flex justify-center py-20">
    <div class="grid grid-rows-2 gap-4 max-[600px]:px-3">
      <div class="min-[600px]:w-[34rem] place-self-center">
        <h1 class="text-white font-bold text-center min-[600px]:text-4xl max-[600px]:text-2xl">Explore New
          Experience of
          Collaboration</h1>
      </div>
      <form [formGroup]="mform" class="flex justify-center w-full">
        <div class="place-self-center min-[600px]:w-[800px] max-[600px]:w-[366px]" data-te-dropdown-ref>
          <input type="text" formControlName="search" placeholder="Search something here..."
            [class.rounded-t-lg]="showSearch === true"
            (keydown.enter)="showResultBySearchEngine(mform.get('search')?.value, limit)"
            [class.rounded-lg]="showSearch === false || mform.get('search')?.value.length == 0"
            class="focus:outline-none px-10 py-3 border border-0 w-full" (focus)="onInputFocus()"
            (blur)="onInputBlur()">

          <ul data-te-dropdown-show data-popper-placement="bottom-start"
            *ngIf="showSearch === true && mform.get('search')?.value.length > 0"
            class="absolute text-left bg-white [&[data-te-dropdown-show]]:block h-fit shadow-lg min-[600px]:w-[800px] max-[600px]:w-[366px] rounded-b-lg p-3"
            aria-labelledby="dropdownMenuButton1" data-te-dropdown-menu-ref>
            <!-- Dropdown content -->
            <div class="grid min-[600px]:grid-cols-2 max-[600px]:grid-rows-2 gap-1 h-fit">
              <div class="mx-1">
                <p class="text-gray-400 text-xs font-light px-4 py-2" *ngIf="showSearch === true">Suggestion :
                </p>
                <li *ngFor="let data of suggestionSearch">
                  <a class="block w-full whitespace-nowrap rounded-lg bg-transparent px-4 py-2 text-sm font-normal hover:bg-gray-200 cursor-pointer"
                    (click)="setValueSearch(data.search)" data-te-dropdown-item-ref><fa-icon [icon]="faSearch"
                      class="text-gray-300 mr-2"></fa-icon>
                    <span
                      [innerHtml]="highlightMatchingCharacters(trimString(data.search, 40), mform.get('search')?.value)"></span>
                  </a>
                </li>
                <p *ngIf="suggestionSearch.length === 0" class="text-gray-300 text-sm text-sm px-4">No suggestion</p>
              </div>
              <div class="mx-1">
                <p class="text-gray-400 text-xs font-light px-4 py-2" *ngIf="suggestionSearch.length > 0">Based on your
                  interests :</p>
                <li *ngFor="let data of searchByInterest">
                  <a class="block w-full whitespace-nowrap rounded-lg bg-transparent px-4 py-2 text-sm font-normal hover:bg-gray-200 cursor-pointer"
                    (click)="routingContent(data.uuid, data.path)" data-te-dropdown-item-ref>
                    <div class="flex flex-row w-[280px]">
                      <img [src]="data.path" [alt]="data.path" class="rounded-lg w-16 mr-2">
                      <p class="whitespace-pre-line text-clip overflow-hidden">{{ trimString(data.title, 53) }}</p>
                    </div>
                  </a>
                </li>
                <p *ngIf="searchByInterest.length === 0" class="text-gray-300 text-sm px-4">No content</p>
              </div>
            </div>
          </ul>
        </div>

      </form>
      <h1 class="text-white">TRENDING SEARCH</h1>
      <div>
        <ul class="flex list-none flex-wrap pl-0 md:flex-row" role="tablist" data-te-nav-ref>
          <li class="mx-2 mb-2" *ngFor="let data of trendingSearch">
            <button type="button" (click)="trendingClick(data.search)"
              class="bg-transparent text-white rounded-full border border-1 px-4 py-1 hover:bg-white hover:text-black">
              {{ data.search }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Search & Trend Section -->
  <div class="container mx-auto md:my-24 my-12">
    <div class="text-center justify-center">
      <h1 class="md:text-4xl text-2xl font-bold text-black mb-5">
        Welcome to GMF Community!
      </h1>
      <p class="md:text-lg text-sm text-black">
        NEX community adalah Knowledge Management GMF yang menjadi wadah bagi GMF
        Heroes <br />
        untuk sharing dan berbagi eksperience di mana GMF Heroes dapat berbagi
        knowlede,
      </p>
    </div>
  </div>

  <div *ngIf="mform.get('search')?.value === ''">


    <div class="mb-8">
      <div class="grid grid-cols-2 gap-1 px-4 mt-10 lg:mx-15 mx-5">
        <div class="flex justify-start text-xl">
          <!-- <fa-icon [icon]="faImage" class="lg:text-2xl text-base text-success mr-2 place-self-center"></fa-icon> -->
          <p class="whitespace-nowrap lg:text-2xl text-base font-semibold text-primary">Recent Activity</p>
        </div>
        <div class="lg:text-lg text-sm flex justify-end font-semibold text-primary">
          <a routerLink="/user/nex-community/activity-list">See All</a>
        </div>
      </div>
      <div class="lg:mx-20 mx-5 my-5">
        <div class="grid lg:grid-cols-4 grid-cols-1 gap-5">
          <div *ngFor="let row of dataActivity"
            class="place-self-center block rounded-lg bg-white shadow-sm w-full border border-gray-300 mt-5">
            <img class="object-cover lg:h-56 h-36 w-full rounded-t-lg" [src]="row.path" alt="image" />
            <div class="p-5 bg-gray-100 rounded-b-lg">
              <p class="text-xs text-gray-400 font-medium">{{ formatDateNotDays(row.createdAt) }}</p>
              <h5
                class="mt-3 mb-4 lg:text-2xl text-base font-semibold leading-tight text-neutral-800 dark:text-neutral-50">
                {{ trimString(row.title, 20) }}
              </h5>
              <p class="mt-2 mb-4 text-sm text-neutral-600 dark:text-neutral-200">
                {{ trimString(row.description, 130) }}
              </p>
              <div class="flex flex-row justify-between">
                <p class="font-bold">{{ row.communityActivitiesCommunities.name }}</p>
                <a [routerLink]="'/user/nex-community/activity-detail/'+row.communityActivitiesCommunities.uuid+'/'+row.uuid"
                  class="mt-3 shadow text-sm rounded bg-primary hover:bg-primary-800 text-white px-3 py-2"
                  data-te-ripple-init data-te-ripple-color="light">
                  See Activity
                </a>
              </div>
            </div>
          </div>
        </div>
        <h1 *ngIf="!dataActivity" class="text-center text-gray-400">Sorry, data is empty</h1>
      </div>

      <!-- GMF Community -->
      <div class="grid grid-cols-2 gap-1 px-4 mt-10 lg:mx-15 mx-5 mt-20">
        <div class="flex justify-start text-xl">
          <!-- <fa-icon [icon]="faUsers" class="lg:text-2xl text-base text-success mr-2 place-self-center"></fa-icon> -->
          <p class="whitespace-nowrap lg:text-2xl text-base font-semibold text-primary">GMF Community</p>
        </div>
        <div class="lg:text-lg text-sm flex justify-end font-semibold text-primary">
          <a routerLink="/user/nex-community/community">See All</a>
        </div>
      </div>
      <div class="max-[600px]:px-4 mt-5 px-20">
        <div>
          <!-- List of GMF Community -->
          <div class="grid lg:grid-cols-4 grid-cols-2 gap-y-1 mt-5">
            <!-- Loop Here -->
            <div class="mt-8 px-2 w-fit place-self-center h-full" *ngFor="let row of communityData">
              <div class="w-auto h-full rounded-lg">
                <img [src]="row.thumbnailPhotoPath"
                  class="object-cover lg:w-64 lg:h-96 w-auto rounded place-self-center rounded-t-lg"
                  alt="Community Image" />
                <div class="flex mt-3 h-full px-2 pb-2">
                  <div class="flex items-start">
                    <img [src]="row.icon" class="object-cover rounded-full lg:w-12 lg:h-12 w-6 h-6 mr-2" alt="avatar"
                      loading="lazy" />
                  </div>
                  <div class="items-center h-full">
                    <a [routerLink]="row.uuid"
                      class="hover:text-regal-blue font-semibold lg:text-base text-xs uppercase">{{
                      trimString(row.name,
                      20) }}</a>
                    <p class="font-medium lg:text-sm text-[10px]">{{ row._count.communitiesCommunityMembers }} Members
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h1 *ngIf="!communityData" class="text-center text-gray-400">Sorry, data is empty</h1>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="mform.get('search')?.value !== ''" class="flex flex-col min-[800px]:mx-20 max-[800px]:mx-10">
    <p class="font-light text-gray-400 text-sm my-10" *ngIf="resultBySearch">About {{ totalData }} search
      results ({{
      trimNumber(timeTaken, 5) + '
      milliseconds'}})</p>
    <div class="flex flex-row mb-10" *ngFor="let data of resultBySearch">
      <img class="object-cover w-36 w-16 max-[800px]:hidden mr-5 rounded" [src]="data.path" alt="image">
      <div class="flex flex-col">
        <div>
          <div class="flex flex-row">
            <div class="flex flex-col">
              <h1 class="text-xs font-light">{{ data.personalNumber }}</h1>
            </div>
          </div>
          <div class="mt-1">
            <a (click)="routingContent(data.uuid, data.path)"
              class="cursor-pointer font-semibold text-lg font-normal text-primary hover:text-primary-700 hover:underline hover:underline-offset-2">{{
              trimString(data.title, 50) }}</a>
            <p class="text-xs max-[800px]:hidden" [innerHTML]="trimString(data.description, 350)"></p>
            <p class="text-xs min-[800px]:hidden" [innerHTML]="trimString(data.description, 150)"></p>
          </div>
        </div>
      </div>
    </div>
    <p *ngIf="!resultBySearch || resultBySearch.length === 0" class="text-gray-400 text-sm text-center">Content not
      found!</p>

    <!-- Pagination -->
    <button type="button" *ngIf="resultBySearch.length != totalData" class="text-primary text-sm hover:text-primary-700"
      (click)="showMore()">Show more</button>
  </div>
</div>

<img class="absolute left-0 top-2/3 -z-20" src="../../../../assets/image/home-page/gradient/227.png" alt="" />

<img class="absolute right-0 top-3/4 -z-10" src="../../../../assets/image/home-page/gradient/228.png" alt="" />

<img class="absolute right-0 top-1/2 -z-20" src="../../../../assets/image/home-page/gradient/229.png" alt="" />
