<div class="grid h-screen grid-rows-6 pt-6 mt-10 bg-white">
  <div class="flex items-center justify-center row-start-1 row-end-5">
    <img
      src="/assets/image/500image.jpg"
      class="flex items-end justify-end w-auto h-full"
    />
  </div>
  <div class="flex flex-col items-center justify-center row-start-5 row-end-6">
    <span class="mt-6 text-6xl font-extrabold font-jakarta text-dbx-blue-500"
      >We are sorry</span
    >
    <!-- <span class="mt-16 text-3xl font-bold rounded font-jakarta text-dbx-blue-600">500: Service error page</span> -->
    <span class="mt-10 text-xl font-jakarta text-dbx-blue-800"
      >The server encountered an internal error or missconfiguration</span
    >
    <span class="mt-2 text-xl font-jakarta text-dbx-blue-800"
      >and was unable to complete your request</span
    >
  </div>
</div>
