.bg-learning {
  position: relative;
}

.bg-learning::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../.../../../../../assets/image/learning/NEX logo 3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  background-position-x: 450px;
  opacity: 0.2; /* Adjust the opacity as needed */
  z-index: -1; /* Place the background image behind the content */
  animation: slideBackground 2s linear; /* Adjust the duration as needed */
}

@keyframes slideBackground {
  0% {
    background-position-x: 750px;
  }
  100% {
    background-position-x: 450px;
  }
}

.fw-bold {
  letter-spacing: -5px;
  font-weight: 900;
  color: #014164;
}

.bg-gradient-one {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../.../../../../../assets/image/learning/2898.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
}

.bg-gradient-two {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../.../../../../../assets/image/learning/2897.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  background-position-x: right;
}

.title-article {
  margin-left: -38px;
}

.bg-title-article {
  margin-top: -15px;
  margin-left: -10px;
}
