<div class="py-4 mt-8">
  <div class="flex grid-cols-2 gap-4 flex-cols">
    <!-- Categories Section -->
    <div
      class="first-feature px-9 py-9 min-[600px]:w-60 shadow-lg mx-5 max-[600px]:hidden"
    >
      <h1 class="font-semibold tracking-wider uppercase text-regal-blue">
        Categories
      </h1>
      <ng-container *ngIf="isCategoryLoading">
        <div
          class="flex items-center justify-center min-h-screen font-semibold"
        >
          <app-loading></app-loading>
        </div>
      </ng-container>

      <ng-container *ngIf="!isCategoryLoading">
        <div class="flex justify-start mt-5">
          <ul class="w-40">
            <li
              class="w-full py-2 cursor-pointer"
              *ngFor="let row of eBookCategoryData; let i = index"
            >
              <div
                (click)="onChangeEBookCategory(row)"
                (mouseenter)="
                  row.name.length > 15
                    ? onChangeBookCategoryHover(true, i)
                    : null
                "
                (mouseleave)="
                  row.name.length > 15
                    ? onChangeBookCategoryHover(false, i)
                    : null
                "
                [class.text-soft-green]="
                  selectedEBookCategory?.name === row.name
                "
                [class.font-semibold]="selectedEBookCategory?.name === row.name"
                class="text-gray-400"
              >
                <ng-container *ngIf="row.name.length > 15">
                  <div class="relative flex overflow-x-hidden">
                    <div
                      [ngClass]="{
                        'animate-marquee': isBookCategoryHover[i]
                      }"
                      class="whitespace-nowrap"
                    >
                      <span class="mr-2">
                        {{ row.name }}
                      </span>
                    </div>
                    <div
                      [ngClass]="{
                        'animate-re_marquee': isBookCategoryHover[i]
                      }"
                      class="absolute top-0 whitespace-nowrap"
                    >
                      <span class="mr-2">
                        {{ row.name }}
                      </span>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="row.name.length <= 15">
                  {{ row.name }}</ng-container
                >
              </div>
            </li>
          </ul>
        </div></ng-container
      >
    </div>
    <!-- Categories Section -->
    <div class="w-full">
      <div>
        <div class="grid min-[600px]:grid-cols-2 max-[600px]:grid-rows-2 gap-4">
          <div
            class="flex min-[600px]:justify-start max-[600px]:justify-center"
          >
            <a class="mr-3 text-gray-400" routerLink="/">Home</a>
            <fa-icon
              [icon]="faChevronRight"
              class="mr-3 text-gray-400"
            ></fa-icon>
            <a routerLink="/nex-library" class="mr-3 text-gray-400"
              >Nex Library</a
            >
            <fa-icon
              [icon]="faChevronRight"
              class="mr-3 text-gray-400"
            ></fa-icon>
            <p class="mr-3 text-gray-400 activeLink">Ebook</p>
          </div>
          <div
            class="flex min-[600px]:justify-end max-[600px]:justify-center px-9"
          >
            <button
              type="button"
              data-te-ripple-init
              data-te-ripple-color="light"
              (click)="onGoToManageEbookPage()"
              class="second-feature w-fit inline-block mx-2 rounded bg-regal-blue px-3 py-2 text-sm max-[600px]:text-xs uppercase text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-new-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-new-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-new-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
            >
              <fa-icon
                [icon]="faBookBookmark"
                class="mr-2 text-white"
              ></fa-icon>
              Manage Book
            </button>
            <button
              type="button"
              data-te-ripple-init
              data-te-ripple-color="light"
              (click)="onGoToPublishEbookPage()"
              class="third-feature w-fit inline-block mx-2 rounded bg-new-primary px-3 py-2 text-sm max-[600px]:text-xs uppercase text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-new-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-new-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-new-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
            >
              <fa-icon [icon]="faBookOpen" class="mr-2 text-white"></fa-icon>
              Publish Book
            </button>
          </div>
        </div>

        <!-- Categories Section -->
        <div class="px-9 py-9 min-[600px]:hidden shadow-lg max-[600px]:w-full">
          <h1 class="font-semibold tracking-wider uppercase text-regal-blue">
            Categories
          </h1>
          <ng-container *ngIf="isCategoryLoading">
            <div
              class="flex items-center justify-center min-h-screen font-semibold"
            >
              <app-loading></app-loading>
            </div>
          </ng-container>

          <ng-container *ngIf="!isCategoryLoading">
            <div class="flex justify-start mt-5">
              <ul class="w-96">
                <li
                  class="w-full py-2 cursor-pointer"
                  *ngFor="let row of eBookCategoryData; let i = index"
                >
                  <div
                    (click)="onChangeEBookCategory(row)"
                    (mouseenter)="
                      row.name.length > 15
                        ? onChangeBookCategoryHover(true, i)
                        : null
                    "
                    (mouseleave)="
                      row.name.length > 15
                        ? onChangeBookCategoryHover(false, i)
                        : null
                    "
                    [class.text-soft-green]="
                      selectedEBookCategory?.name === row.name
                    "
                    [class.font-semibold]="
                      selectedEBookCategory?.name === row.name
                    "
                    class="text-gray-400"
                  >
                    <ng-container *ngIf="row.name.length > 15">
                      <div class="relative flex overflow-x-hidden">
                        <div
                          [ngClass]="{
                            'animate-marquee': isBookCategoryHover[i]
                          }"
                          class="whitespace-nowrap"
                        >
                          <span class="mr-2">
                            {{ row.name }}
                          </span>
                        </div>
                        <div
                          [ngClass]="{
                            'animate-re_marquee': isBookCategoryHover[i]
                          }"
                          class="absolute top-0 whitespace-nowrap"
                        >
                          <span class="mr-2">
                            {{ row.name }}
                          </span>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="row.name.length <= 15">
                      {{ row.name }}</ng-container
                    >
                  </div>
                </li>
              </ul>
            </div></ng-container
          >
        </div>
        <!-- Categories Section -->
        <div
          class="grid max-[600px]:grid-rows-2 min-[600px]:grid-cols-2 gap-4flex flex-cols py-5"
        >
          <div class="flex justify-start min-[600px]:px-10 max-[600px]:px-5">
            <h1 class="mt-5 text-2xl font-semibold">
              Category :
              {{
                selectedEBookCategory
                  ? selectedEBookCategory.name.length > 15
                    ? selectedEBookCategory.name.substring(0, 15) + "..."
                    : selectedEBookCategory.name
                  : "-"
              }}
            </h1>
          </div>
          <div class="flex justify-end min-[600px]:px-10 max-[600px]:px-5">
            <div
              class="relative flex flex-wrap items-stretch w-full mt-4 mb-4 mr-3 bg-gray-100 rounded-full"
            >
              <button
                class="relative z-[2] rounded-l px-4 py-2 text-xs font-medium uppercase leading-tight text-primary transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5"
                type="button"
                id="button-addon1"
              >
                <fa-icon [icon]="faSearch" class="text-black"></fa-icon>
              </button>
              <input
                type="text"
                class="h-11 relative m-0 block w-[1px] min-w-0 flex-auto rounded-r bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition ease-in-out"
                placeholder="Search in Category"
                aria-label="Example text with button addon"
                aria-describedby="button-addon1"
                (keyup)="searchByField($event)"
              />
            </div>
            <div class="px-4 py-3 mt-3 bg-gray-100 rounded-full w-36 h-fit">
              <select
                class="w-full bg-transparent rounded-full"
                (change)="onChangeSortStatus($event)"
              >
                <option hidden [selected]="sortStatus == 0">Sort By</option>
                <option disabled selected *ngIf="sortStatus == 0">
                  Sort By
                </option>
                <option *ngIf="sortStatus != 0" value="0">Reset</option>
                <option value="1">Trendings</option>
                <option value="2">Latest</option>
                <option value="3">Oldest</option>
              </select>
            </div>
          </div>
        </div>
        <ng-container *ngIf="isContentLoading">
          <div
            class="flex items-center justify-center min-h-screen font-semibold"
          >
            <app-loading></app-loading>
          </div>
        </ng-container>
        <ng-container *ngIf="!isContentLoading">
          <ng-container *ngIf="eBookData.length > 0; else emptyEBookData">
            <div
              class="grid justify-center gap-2 px-8 xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2"
            >
              <div *ngFor="let row of eBookData" class="h-full px-1 py-4">
                <div
                  class="h-full rounded-lg shadow-lg cursor-pointer"
                  style="overflow-wrap: anywhere"
                  (click)="onGoToDetailBook(row.uuid)"
                >
                  <img
                    [src]="row.pathCover"
                    [alt]="row.title"
                    class="px-3 mt-3 rounded-xl w-70 min-[600px]:w-full min-[600px]:h-80 max-[600px]:w-full max-[600px]:h-60 object-center object-cover"
                  />
                  <div class="p-5">
                    <h1
                      class="font-semibold min-[600px]:text-lg min-[600px]:hidden"
                    >
                      {{
                        row.title.length > 10
                          ? row.title.substr(0, 10) + "..."
                          : row.title
                      }}
                    </h1>
                    <h1 class="font-semibold max-[600px]:hidden text-2xl">
                      {{
                        row.title.length > 15
                          ? row.title.substr(0, 15) + "..."
                          : row.title
                      }}
                    </h1>

                    <h1 class="text-xs min-[600px]:hidden">
                      {{
                        row.author.length > 20
                          ? row.author.substr(0, 20) + "..."
                          : row.author
                      }}
                    </h1>
                    <h1 class="text-lg max-[600px]:hidden">
                      {{
                        row.author.length > 20
                          ? row.author.substr(0, 20) + "..."
                          : row.author
                      }}
                    </h1>
                  </div>
                </div>
              </div>
            </div>
            <!-- Table Pagination -->
            <div
              class="flex items-center justify-start mt-5"
              *ngIf="paginator && !isContentLoading"
            >
              <h1 class="mr-5">Total : {{ paginator.totalData }}</h1>
              <div class="flex items-center justify-start mx-10">
                <span class="text-sm">Show</span>
                <select
                  *ngIf="paginator"
                  [(ngModel)]="paginator.pageSize"
                  (ngModelChange)="changePageSize()"
                  class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-300 focus:border-blue-300 block py-1.5 pl-2 pr-7 mx-2 hover:cursor-pointer"
                >
                  <option
                    *ngFor="let size of paginator?.pageOption"
                    [ngValue]="size"
                  >
                    {{ size }} data
                  </option>
                </select>
              </div>
              <div class="flex items-center justify-center mx-3">
                <button
                  type="button"
                  (click)="changePageNumber(false)"
                  [disabled]="paginator.pageNumber == 1"
                  [class]="
                    paginator.pageNumber == 1 ? 'bg-gray-200' : 'bg-gray-50'
                  "
                  class="inline-flex items-center px-3 py-1.5 text-sm font-medium text-gray-700 border border-gray-300 rounded-lg active:bg-gray-200 active:border-blue-300"
                >
                  Previous
                </button>
                <!-- <button
            class="ml-2 text-gray-400"
            (click)="goToPageNumberByPageClick(i + 1)"
            *ngFor="let page of pages; let i = index"
          >
            {{ i + 1 }}
          </button> -->
                <button
                  type="button"
                  (click)="changePageNumber(true)"
                  [disabled]="paginator.pageNumber == paginator.totalPage"
                  [class]="
                    paginator.pageNumber == paginator.totalPage
                      ? 'bg-gray-200'
                      : 'bg-gray-50'
                  "
                  class="inline-flex items-center px-3 py-1.5 text-sm font-medium text-gray-700 border border-gray-300 rounded-lg active:bg-gray-200 active:border-blue-300 ml-2"
                >
                  Next
                </button>
              </div>
              <h1 class="w-fit">Go to Page</h1>
              <select
                *ngIf="paginator"
                [(ngModel)]="paginator.pageNumber"
                (ngModelChange)="goToPageNumberByPageSelect($event)"
                class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-300 focus:border-blue-300 block py-1.5 pl-2 pr-7 mx-2 hover:cursor-pointer"
              >
                <option
                  *ngFor="let page of pages; let i = index"
                  [ngValue]="i + 1"
                >
                  {{ i + 1 }}
                </option>
              </select>
            </div>
            <!-- Table Pagination -->
          </ng-container>
          <ng-template #emptyEBookData>
            <div
              class="flex items-center justify-center min-h-screen font-semibold"
            >
              <h2>No Books available.</h2>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>
</div>
