<footer class="mt-14">
  <div class="lg:px-36 lg:py-20 grid lg:grid-cols-3 lg:grid-rows-2 gap-x-20 gap-y-10 px-5">
    <div class="lg:col-span-2 max-[600px]:justify-center max-[600px]:flex">
      <img [src]="logoGMF" alt="logo_gmf" class="max-[600px]:w-8/12" />
    </div>
    <div class="max-[600px]:hidden">
      <div class="flex justify-end items-end">
        <a href="">
          <img class="mr-3" [src]="linked_icon" alt="icon-linked" />
        </a>
        <a href="">
          <img class="mr-3" [src]="instagram_icon" alt="icon-instagram" />
        </a>
      </div>
    </div>
    <div class="max-[600px]:text-center max-[600px]:text-sm">
      <h1 class="font-bold">Office Address</h1>
      <p>
        GMF Management Building 3rd Floor Soekarno Hatta International Airport
        (CGK) Tangerang – Indonesia PO. BOX 1303 15125
      </p>
    </div>
    <div class="lg:col-span-2 items-center max-[600px]:text-center max-[600px]:text-sm">
      <h1 class="font-bold">Corporate Culture & Knowledge Management</h1>
      <p>Email : list-thb@gmf-aeroasia.co.id</p>
    </div>
    <div class="min-[600px]:hidden">
      <div class="flex justify-center items-center mb-5">
        <a href="">
          <img class="mr-3" [src]="linked_icon" alt="icon-linked" />
        </a>
        <a href="">
          <img class="mr-3" [src]="instagram_icon" alt="icon-instagram" />
        </a>
      </div>
    </div>
  </div>
  <div>
    <p class="text-center text-grey-soft mb-5 max-[600px]:text-xs">
      COPYRIGHT © 2020 PT GMF AEROASIA TBK. ALL RIGHTS RESERVED.
    </p>
  </div>
</footer>